@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&family=Quicksand&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  height: 100vh;
  font-family: 'Quicksand', sans-serif;
  border-right: 20px solid white;
  border-left: 20px solid white;
}

#landing-content {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: grey;
  margin-top: 15px;
}

header > img {
  width: 70%;
  max-width: 400px;
}

header > h1 {
  font-family: 'Balsamiq Sans', cursive;
  font-size: 1rem;
  margin-top: 10px;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  max-width: 300px;
}

.mood-card {
  font-family: 'Balsamiq Sans', cursive;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 10px;
  margin: 5px;
  height: 160px;
  width: 100px;
  text-align: center;
}

.mood-card > p {
  margin-bottom: 5px;
  font-size: 0.9rem;
}

.mood-card:hover {
  cursor: pointer;
}

#evil {
  background-color: #fff;
  border: 5px solid #522e90;
}

#good {
  background-color: #fff;
  border: 5px solid #00b25a;
}

#adventure {
  background-color: #fff;
  border: 5px solid #00549d;
}

#normal {
  background-color: #fff;
  border: 5px solid #f2674a;
}

#sign-in {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

#sign-in-btn {
  width: 210px;
  height: 35px;
  font-size: 0.9rem;
  padding: 0;
  background-color: #522e90;
  margin-top: 10px;
}

#sign-in-btn:hover {
  background-color: white;
  border: #522e90 solid 2px;
  color:#522e90;
}

#sign-in-btn + div {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  margin-top: 5px;
}

#sign-in-btn {
  width: 210px;
  height: 35px;
  font-size: 0.9rem;
  padding: 0;
  background-color: #522e90;
}

#sign-in-btn:hover {
  background-color: white;
  border: #522e90 solid 2px;
  color:#522e90;
}

#sign-in-btn + div {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  margin-top: 5px;
}

.my-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

h1 {
  font-family: "Chewy", sans-serif;
}

#myNavbar {
  background-color: #522e90;
  color: white;
}

svg {
  fill: white;
}

#reshuffle-button {
  background-color: #522e90;
  color: white;
}

#more-button {
  background-color: #00549d;
  color: white;
}

.green {
  background-color: #00b25a;
  color: white;
}

#myHamburger {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.left-5 {
  margin-left: 5px !important;
}

#back-arrow:hover {
  cursor: pointer;
}

#idea-content {
  max-width: 300px;
}

#idea-pic {
  width: 300px;
}

.img-center {
  margin: auto;
  display: block;
}

@media (min-width: 991.98px) {
  #idea-description {
    text-align: center;
  }
}